body {
    background-color: rgb(242, 242, 242);
}

.container {
    padding-right: 0;
    padding-left: 0;
}

.center-block {
    margin-right: 0;
    margin-left: 0;
}

.panel {
    box-shadow: 0 0 30px rgba(0, 0, 0, .25);
    border: none;
}

.panel-heading {
    padding: 20px 30px;
    background-color: rgba(61, 97, 155, 0.9) !important;
    border-bottom: none;
}

.panel-title {
    font-size: 22px !important;
    font-weight: 900;
    color: rgb(255, 255, 255) !important;
}

.panel-title a:hover {
    text-decoration: none;
}

.panel-body {
    padding: 5px 30px 30px;
}

.alert {
    text-align: left !important;
}

.form .btn {
    width: 100%;
    background-color: rgb(255, 133, 10);
    color: white;
    font-weight: bold !important;
}

.form .btn:hover {
    background-color: rgb(255, 152, 48);
    color: white;
}

.conditions-for-submit label {
    margin-bottom: 0;
}

.panel-footer {
    border-top: none;
    padding: 20px 30px;
}

.back-to-site {
    cursor: pointer;
}

@media only screen and (min-width: 415px) {
    .center-block {
        max-width: 350px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 40px;
    }
    .panel-title {
        font-size: 26px !important;
    }
}