<!-- args: total, available_currencies, currency -->
{% extends 'layouts/layout_user.html' %}
{% block title %}
Dashboard | {{ config['PUBLIC_CONFIG'].site.title }}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-10">
            <p>{% trans %}Welcome{% endtrans %} {{ current_user.email }}</p>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.settings') }}" class="btn btn-info" role="button">{% trans %}Settings{% endtrans
                %}</a>
        </div>
        <div class="col-md-1">
            <a href="{{ url_for('user.logout') }}" class="btn btn-info" role="button">{% trans %}Logout{% endtrans
                %}</a>
        </div>
    </div>
</div>
<div class="container well">
    <div class="row">
        <label class="col-md-4">Scanners:</label>
        <div class="col-md-8">
            <select class="form-control" id="state" name="state" required="">
                {% for scanner in current_user.scanners %}
                <option value="{{ scanner }}">{{ scanner }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-info btn-xs" onclick="scanner_details()">Details</button>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>
    function scanner_details() {
        $.ajax({
            url: "/user/scanners/details/sniffer_service",
            type: "POST",
            dataType: 'json',
            data: {},
            success: function (response) {
                console.log(response);
                window.location.reload();
            },
            error: function (error) {
                console.error(error);
            }
        });
    }
</script>
{% endblock %}